*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(IMG1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top:100px;
}
#box{
    background-color: white;
    height: auto;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box1{
    height: 60px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
#event{
    height: 40px;
    width:300px;
}
#add{
    height: 40px;
    width:40px;
    border-radius: 50%;
    background-color: #a663cc;
}
#mode{
    height: 40px;
    width:40px;
    background-color: #a663cc;
}